<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h3 class="my-0 mr-md-auto font-weight-normal">VIRUSWEB</h3>
      <%- include('nav.html') %>
      <a href="/login">
        <button class="btn btn-outline-primary" type="button">ë¡œê·¸ì¸</button>
      </a>
    </div>

    <title>Team</title>
    <style>
      .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .card {
        margin: 10px;
      }
    </style>
    <style>
      .centered-text {
        text-align: center; /* í…ìŠ¤íŠ¸ë¥¼ ê°€ìš´ë° ì •ë ¬ */
        margin: 20px 0; /* ìœ„ì•„ë˜ ì—¬ë°± ì¶”ê°€ */
      }
    </style>
  </head>
  <body>
    <section>
      <div class="centered-text">
        <h1>ë°”ì´ëŸ¬ìŠ¤</h1>
      </div>
      <div class="centered-text">
        <h3>ìš°ë¦¬ íŒ€ì„ ì†Œê°œí•©ë‹ˆë‹¤~</h3>
      </div>
      <div class="subTitle"></div>
      <!-- Card container with flex-row for horizontal alignment -->
      <div class="allBox2 d-flex justify-content-center flex-row">
        <div class="card" style="width: 18rem">
          <img
            src="https://github.com/ra72e6/team/blob/main/img/IMG_4895.JPEG?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-text">
              ê¹€íƒœí˜„
              <h6>ğµğ‘ğ‘ğ‘˜ğ‘’ğ‘›ğ‘‘</h6>
            </h5>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://github.com/ra72e6/team/blob/main/img/IMG_4895.JPEG?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-text">
              ì‹ ëª…ì§„
              <h6>ğµğ‘ğ‘ğ‘˜ğ‘’ğ‘›ğ‘‘</h6>
            </h5>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://github.com/ra72e6/team/blob/main/img/IMG_4895.JPEG?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-text">
              ê¹€í˜¸ì¤€
              <h6>ğ¹ğ‘Ÿğ‘œğ‘›ğ‘¡ğ‘’ğ‘›ğ‘‘</h6>
            </h5>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://github.com/ra72e6/team/blob/main/img/IMG_4895.JPEG?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-text">
              ìµœê²½ì€
              <h6>ğ¹ğ‘Ÿğ‘œğ‘›ğ‘¡ğ‘’ğ‘›ğ‘‘</h6>
            </h5>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://github.com/ra72e6/team/blob/main/img/IMG_4895.JPEG?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-text">
              ì„í˜œì¤€
              <h6>ğ¹ğ‘Ÿğ‘œğ‘›ğ‘¡ğ‘’ğ‘›ğ‘‘</h6>
            </h5>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
